* {
    box-sizing: border-box;
} 

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
    line-height: 1.4;
}

#main {
   position: relative;
}

#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/mitchel-washington-small.png); 
    width: 100%;
    height: 100%;
    opacity : 0.07;
    z-index: -1;
}

header {
    padding-top: 25px;
    text-align: center;
}

header h1 {
    font-size: 48px;
    font-family: 'Diplomata SC', cursive;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#search-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e35863), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #e35863 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #e35863 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #e35863 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #e35863 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #e35863 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#e35863;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'PT Serif', serif;
	font-size:16px;
	padding:4px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

#search-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #e35863));
	background:-moz-linear-gradient(top, #bc3315 5%, #e35863 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #e35863 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #e35863 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #e35863 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #e35863 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#e35863',GradientType=0);
	background-color:#bc3315;
}

#search-button:active {
	position:relative;
	top:1px;
}

#search-box {
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

input {
    font-family: 'PT Serif', serif;
}

p {
    font-family: 'PT Serif', serif;
}

#content #search {
    text-align: center;
    margin-bottom: 35px;
}

#search-box-container, #search-button-container {
    display: inline-block;
    vertical-align: top;
}

#content #search #search-box {
    width: 25%;
    min-width: 300px;
}

#search-description {
    font-style: italic;
    font-size: 10px;
    color: #888888;
    padding-top: 2px;
    font-family: 'PT Serif', serif;
}

#content #search-results {
    min-height: 150px;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    margin-bottom: 35px;
}

#content #description {
    width: 800px;
    margin: 0 auto;
    border-top: 1px solid #e35863;
}

#search-loading, #results-view, #person-view, #address-view {
    display: none;
}

#search-loading {
    text-align: center;
}

#search-results {
    width: 600px;
    margin: 0 auto;
}

.results-container {
    width: 50%;
    float: left;
    padding-top: 15px;
}

.map-container {
    text-align: right;
    width: 50%;
    float: right;
}

#address-map, #person-map {
    border: 1px solid #e35863;
    width: 300px;
    height: 242px;
}

#results-view {
    padding-left: 80px;
}

#person-view, #address-view {
    padding-left: 0px;
}

.back-to-search {
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    list-style-position: inside;
    padding: 2px;
}

a {
    color: #e35863;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    #content #description {
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    #search-results {
        width: 100%;
    }

    .results-container {
        width: 90%;
        float: none;
        padding-top: 15px;
        text-align: center;
    }

    .map-container {
        width: 90%;
        float: none;
        padding-top: 15px;
        text-align: center;
    }

    #person-map, #address-map {
        margin: 0 auto;
    }

    #content #description {
        width: 100%;
        padding: 10px;
    }

    #results-view {
        padding-left: 0px;
        text-align: center;
    }
}

/*
    font-family: 'Diplomata SC', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Inconsolata', monospace;
*/