header {
    text-align: center;
}

#content #search {
    text-align: center;
}

#content #search #search-box {
    width: 25%;
}

#content #search-results {
    min-height: 250px;
}

#content #description {
    padding: 25px;
}

#search-loading, #results-view, #person-view, #address-view {
    display: none;
}

.search-id, .search-type, .person-id, .address-id {
    display: none;
}